.parameter-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.parameter-container h1 {
    margin-top: 40px;
}

.input-field {
    max-width: 97%;
}

.input-group {
    display: flex;
    width: 97%;
}