.background-container {
    width: 100%;
    height: 80vh;
    box-sizing: border-box;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.backgroung-home-logo {
    width: 250px;
    opacity: 0.05;
}