
.container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.container h1 {
    margin: 40px 0 0 0;
}

.negotiation-container {
    display: flex;
    width: 100%;
	margin: 25px auto;
    /*border: 1px solid #ccc;*/
    
    flex-direction: row;
    align-items: flex-start;
}

.negotiation-container .item-container {
    display: block;
    width: 100%;
}

.negotiation-container .value-container {
    display: block;
    background: rgb(245, 245, 245);
    width: 50%;
    border-left: 5px solid #ffa726;
    padding: 15px;
    border-radius: 8px;
    margin-top: 15px;
}

.negotiation-container .value-container .value-item {
    display: flex;
    justify-content: space-between;
}

.item-container ul li {
    background: rgb(245, 245, 245);
    padding: 15px;
    border-radius: 8px;
    position: relative;
    border-left: 5px solid #007bff;
    margin: 15px 15px 0 0;
}

.item-container ul li:hover {
    background: rgb(235, 235, 235);
}

.item-container ul li .option-button {
    position: absolute;
    top: 15px;
    right: 15px;
    border: 0;
}

.item-container ul li .option-button a {
    margin: 3px;
}

.item-container ul li .option-button i {
    color: #232931;
    padding: 2px;
    border-radius: 5px;
    transition: background-color 0.2s;
    /*transition: color 0.1s;*/
}

.item-container ul li .option-button .delete:hover {
    background-color: #dc3545;
    color: #eeeeee;
}

.item-container ul li .option-button .edit:hover {
    background-color: #17a2b8;
    color: #eeeeee;
}

.fab {
    background-color: #232931;
}

.fab:hover {
    background-color: #47515e;
}

.item-container ul li strong {
    display: block;
    margin-right: 5px;
    color: #41414d;
    font-weight: bold;
}

.item-container ul li p {
    display: block;
    margin-bottom: 3px;
    color: #737380;
}

.header-info {
    margin-bottom: 10px;
    font-size: large;
}

.info-container {
    display: flex;
}

.divider {
    margin: 7px 0 7px 0;
}

.input-field {
    width: 100%;
    margin: 50px 0 15px 0;
}

.option-buttons-container {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.botao-servico {
    margin-left: 15px !important;
  }

.botao-servico:hover, .botao-produto:hover {
    opacity: 0.9;
}

.select {
    z-index: 1000;
}