.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: x-large;
    font-weight: bold;
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    max-width: 340px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 100px;
}

input {
    margin-top: 15px
}

.button {
    margin-top: 25px;
}

.button:hover {
    filter: brightness(90%);
}

.button + .button {
    margin-left: 15px;
}

.buttons-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}