.logon-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: x-large;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 50%;
    margin-bottom: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    margin-top: 15px
}

button {
    margin-top: 15px;
    margin-right: 15px;
}

.buttons-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}